div#title-game{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

#result{
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 2.2em;
}

.tabuleiro{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.game{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #2e4053;
    color: #ffffff;
    border: 8px solid #222f3d;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.game > div{
    border: 8px solid #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 6em;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.btnReset{
    display: block;
    color: #ffffff;
    background-color: #9e4444;
    padding: 5px 15px;
    font-size: .35em;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.d-none{
    display: none;
}