body {
    background-color: #529CB9;
    font-family     : sans-serif;
    text-align      : center;
}

h1 {
    background-color: rosybrown;
}

p {
    font-size      : 13px;
    font-weight    : bold;
    font-style     : italic;
    text-align     : justify;
    text-decoration: overline;
    line-height    : 21px;
}