body {
    background-color: #cccccc;
    font-family     : sans-serif;
}

strong,
em,
mark {
    font-weight: 600;
}

h1 {
    text-align: center;
}

.perfil {
    background-color: #cccccc;
    border          : 2px solid #202020;
}

.dados-pessoais {
    background-color: #cccccc;
    border          : 2px solid #202020;
}

.certificacao {
    background-color: #cccccc;
    border          : 2px solid #202020;
}

.curso-extensao {
    background-color: #cccccc;
    border          : 2px solid #202020;
}

.tecnologias {
    background-color: #cccccc;
    border          : 2px solid #202020;
}

.experiencias {
    background-color: #cccccc;
    border          : 2px solid #202020;
}

.habilidades {
    background-color: #cccccc;
    border          : 2px solid #202020;
}

.idioma {
    background-color: #cccccc;
    border          : 2px solid #202020;
}

div#opcoes label {
    margin: 5px 10px 10px 0px;
}